{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <small style="color: red;">{{ field.errors }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="login-options">
                <button type="submit" class="submit-button">Login</button>
                <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a>
            </div>
        </form>
        <div class="login-footer">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
{% endblock %}